@import "./variables";
@import "./helpers";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

// variables



// Global Styles

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

// heading

.hero {
  height: 811px;

  position: relative;

  header {
    z-index: 1;

    .items {
      display: flex;
      color: white;
      width: 50%;
      justify-content: space-between;

    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 11.8125rem;

        img {
          width: 100%;
        }
      }

      &-list {


        list-style: none;
        display: flex;
        margin: 0;
        box-sizing: border-box;

        .nav-item {
          margin-inline: 1rem;

          .nav-link {
            text-decoration: none;
            color: inherit;
          }
        }
      }

    }
  }

  .banner {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    &_inner {

      display: flex;
      height: 700px;

      .left {
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;

          &-container {
            width: 548px;
            position: relative;

            p {
              font-size: 3rem;
              font-weight: 900;
              line-height: 58.09px;
            }

            .arrow-curve {
              position: absolute;
              right: 30%;
              bottom: 10%;
            }

          }
        }

      }

      .right {
        background: $primary;
        flex: 1;
        display: flex;
        align-items: center;

        &_wrapper {
          height: 70%;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .image-1 {
            width: 466px;
            position: absolute;
            left: -7%;
          }

          .image-2 {
            width: 359px;
            position: absolute;
            bottom: 0;
            right: 134px;
          }
        }
      }
    }
  }
  
}

.why{
  display: flex;
  //flex-wrap: wrap;
  margin-left: 50px;
  .left-why{
      position: relative;
      width: 45%;

      .overlap-block{
        position: absolute;
        width: 552px;
        height: 635px;
        left: 30px;
        //top: 1032px;
        background-color: $primary;
      }
      .video{
        position: relative;
        bottom: 29px;
        z-index: 1;
      }
  }

  .right-why{
    width: 45%;
    margin-left: 50px;

    h2{
      font-weight: 700;
      font-size: 48px;
      line-height: 58.09px;
      width: 641px;
      height: 116px;
    }

    p{
      width: 572px;
      height: 119px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21.78px;
    }
  }
}

.recent-report{
  width: 1440px;
  height: 809px;
  background-color: $primary;
  margin-block: 115px;
  margin-inline: 40px;
  .btn-white{
    background-color: white;
    color: #000;
    margin-top: 85px;
    margin-left: 43%;
  }
  h2{
    width: 400px;
    height: 58px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    color: #fff;
    padding-top: 50px;
    padding-left: 50px;
  }
  .white-line{
    width: 110px;
    height: 11px;
    background-color: #fff;
    margin-top: 30px;
    margin-left: 50px;
  }
  .all{
    display: flex;
  }
  .all-cards{
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 424px;
    background-color: #f4f4f4;
    border-radius: 5px;
    .card{
      padding: 10px;
      position: relative;

      img{
        width: 276px;
        height: 207px;
      }
      .river-p{
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        width: 174px;
        height: 22px;
        margin-right: 10px;
      }
      .date{
        width: 73px;
        height: 17px;
        font-size: 14px;
        margin-left: 10px;
        color: #5e5e5e;
      }

      p{
        font-size: 14px;
        line-height: 18.15px;
        font-weight: 400;
        width: 274px;
        height: 86px;
      }

      .lga{
        width: 81px;
        height: 19px;
        font-weight: 500;
        margin-top: 40px;
      }
    }
  }
}

.niger{
  .see{
    width: 705px;
    height: 116px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58.09px;
    margin-left: 100px;
  }

  .all-img{
    margin: 20px;
    .images-1{
      width: 80%;
      margin-inline: 85px;
      display: flex;
      img{
        width: 317px;
        height: 257px;
        margin: 0;
      }
    }
  }
}

.footer{
  background-color: $primary;
  color: #fff;
  height: 92px;
  margin-top: 50px;
  margin-bottom: 0;
  p{
    text-align: center;
    padding: 40px;
    span{
       font-weight: 700;
       font-size: 18px;
    }
  }
}
